*/__pycache__
PearlNode/__pycache__
PearlNode/Node/BASE/__pycache__
PearlNode/Node/Input/__pycache__
PearlNode/Node/Math/__pycache__
PearlNode/Node/Output/__pycache__
PearlNode/Node/Utilities/__pycache__